header {
    background: #2f2f2f;
    color: white;
}

body {
    background: rgb(161, 159, 159);
    font-family: Arial, Helvetica, sans-serif;
}

.content-section {
    margin-left: 40px;
}

#contact {
    margin-left: 50px;
}

